.content-main{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
.campo_pesquisa{
    padding: 15px 100px;
    background-color: rgb(153, 153, 153);
    font-size: 25px;
}
.botao_pesquisa{
    height: 30px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;

}

.botao_pesquisa:focus {
    outline: 1px solid rgb(255, 255, 255);  
}

.botao_pesquisa.visited {
    outline: 1px solid rgb(255, 255, 255);   
}

.fam-img{
    width:500px;
    justify-content: end;
}

.fantasma{
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
}