Header{
  background-color: #474747;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
Header h1{
  font-size: 60px;
  display: flex;
  align-items: left;
}
.barbie-img{
 
  width:10vw;
  height: auto;
}


