Header{
  background-color: #474747;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}
header nav ul li a{
  text-decoration: none;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  letter-spacing: 1px;
}
header nav ul{
  display: flex;
  list-style: none;
  gap: 15px;
}
.barbie-img{
  width: 200px;
  height: auto;
}


