Main {
  background-color: rgb(153, 153, 153);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 36px;
  margin-top: 40px;
}

.project {
  padding: 20px;
  margin: 150px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
}

.project p {
  margin: 10px 0;
  font-size: 25px;
  color: #000;
}
.portfolio{
  display: flex;
}

.mariana-img{
  width:400px;
  height: auto;
  display: flex; 
  border-radius: 10px;
}
